* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

}

/* Chrome, Safari, Edge 브라우저 스크롤바 제거 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* Firefox, IE 스크롤바 제거 */
html,
body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}